*/.classpath
*/.project
*/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.settings
/bin
/build/
/buildSrc/build
/buildSrc/out
.DS_Store
*/venv
*/__pycache__
*/.idea
